<!DOCTYPE html>
<html lang="pt-Br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/formulario.css">
  </head>
  <body>
<form method="post" id="fContato" action="mailto:teste@gmail.com">
  <!-- get - mais rapido, mas menos seguro (enviar p barra de link) -->
  <!-- https://atom.io/packages/atom-html-preview  CTRL+SHIFT+H-->
  <!-- surround - selecionar e inserir tag [https://atom.io/packages/atom-wrap-in-tag] ALT+SHIFT+W-->
  <!-- <fieldset><fieldse<legend>t> Borda -->
  <!-- <font color="blue" size="3"><b> -->
<fieldset id="usuario"><legend>Correios Principal</legend>
  <p>SEJA BEM VINDO</p>
  <p>Insira seu código: <textarea id="story" name="story" rows="5" cols="45"></textarea></p>
  <input type="submit" name="" value="Pesquisar">
</p>
</form>
  </body>
</html>
